{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortner | KiaHamedi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shortner/css/main.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>
      <form method="post" id="post-form">
        {% csrf_token %}
        <input type="url" name="link" id="link" placeholder="Enter URL" />
        <button type="submit">Shorten</button>
      </form>
      <p id="short-one">
      </p>

      <p id="short-two">
      </p>

      <div class="footer">
        <p><a href="www.kiahamedi.ir">www.kiahamedi.ir</a></p>
      </div> 
    </div>

    
  </body>
</html>

<script src="{% static 'shortner/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'shortner/js/main.js' %}"></script>