{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener | KiaHamedi</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />


    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="URL Shortener | KiaHamedi">
    <meta name="twitter:description" content="URL Shortener is a tool to shorten a long link and create a short URL and QR-Code easy to share on sites, chat and emails. Track short URL traffic and manage your links.">
    <meta name="twitter:site" content="@kia_arta97">
    

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:title" content="URL Shortener | KiaHamedi">
    <meta property="og:description" content="URL Shortener is a tool to shorten a long link and create a short URL and QR-Code easy to share on sites, chat and emails. Track short URL traffic and manage your links.">
    <meta property="og:site_name" content="URL Shortner | KiaHamedi">
    <meta property="og:type" content="article">
    

    <!-- TelegramInstant view meta Tags-->
    <meta property="tg:site_verification">
    <meta name="telegram:channel" content="@kiahamedi_channel">

    <meta property="og:title" content="URL Shortener | KiaHamedi">
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:type" content="website">


    <link rel="manifest" href="{% static 'shortner/manifest.webmanifest' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shortner/css/main.css' %}" />

    <link rel="stylesheet" href="https://cdn.tutorialjinni.com/intl-tel-input/17.0.19/css/intlTelInput.css"/>
    <script src="https://cdn.tutorialjinni.com/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>

    
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>

      <div id="login-part">
        <input name="phone" type="text" id="phone" class="input-phone"/> 
        <button id="btn-login">Login</button>
      </div>

      <div id="verify-part" style="display: none;">
        <input name="verify" type="text" id="verify" class="input-phone" placeholder="Enter OTP Code"/> 
        <button id="btn-Verify">Verify</button>
      </div>
      


      

      <div class="footer">
        <p><a href="/">Home</a> - <a href="https://kiahamedi.ir">Blog</a> - <a href="https://addons.mozilla.org/en-US/firefox/addon/kiay-shortener/">Firefox</a> - <a href="https://github.com/kiahamedi/URL-Shortener">Github</a></p>
      </div> 
    </div>

    
  </body>
</html>

<script src="{% static 'shortner/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'shortner/js/main.js' %}"></script>
<script src="{% static 'shortner/js/login.js' %}"></script>
<script src="{% static 'shortner/js/qrcode.min.js' %}"></script>
